@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #272622b5, #350345ec);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100%; /* Adicione uma largura máxima para o relógio */
    width: 600px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    transition: transform 0.3s ease-in-out;
}

.relogio:hover {
    transform: scale(1.05);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, 0.9);
    box-shadow: 25px 15px 50px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    letter-spacing: 4px;
    transition: transform 0.3s ease-in-out;
}

.relogio span {
    font-weight: bolder;
    font-size: 70px;
}

.relogio span.tempo {
    font-size: 10px;
}



@media screen and (max-width: 768px) {
    .relogio {
        width: 80%;
    }

    .relogio div {
        width: 80%;
        margin: 10px 0; 
    }
}

@media screen and (max-width: 480px) {
    .relogio {
        width: 80%;
        flex-direction: column;
    }
}
